//Fonts
$bodyfont: "minion-pro", serif;
$titlefont: "minion-pro", serif;


//Colors
$primary:#D7B153;
$secondary:#A97C50;
$alert:#FFCD34;
$accent-light:#808080; /*Don't Change from Here Down to End of Colors*/
$accent-dark:#101010;
$black:#000000;
$white: #FFFFFF;


@import 'foundation';
@import 'display';
@import 'margins-padding';
@import 'typography';
@import 'forms';
@import 'buttons';
//@import 'orbiter';