RewriteEngine on
RewriteCond %{HTTP_HOST} ^([a-z.]+)?smasingers.org$ [NC]
RewriteCond %{HTTP_HOST} !^www. [NC]
RewriteRule .? http://www.%1smasingers.org%{REQUEST_URI} [R=301,L]


ErrorDocument 404 /404.html
ErrorDocument 403 /403.html

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
